
body {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
  border-color: red;
  border-width: 10px;
}

nav {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(141, 180, 17);
  height: auto;
}

.logo {
  width: 30%;
  margin-right: 150px;
  color: rgb(0, 0, 0);
}

.navbar-rechts{
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul li {
  font-size: 18px;
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 70px;
  list-style-type: none;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.logo h1{
  font-size: 40px;
  font-family: Moon 2.0, sans-serif;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li:hover{
  transition: all 0,5s ease-in;
  background-color: rgba(98, 106, 79, 0.7);
  cursor: pointer;
}

.logoimage{
  margin-left: 5px;
  height: auto;
}


.form-container {
  max-width: 700px; 
  max-height: 470px;
  margin: 80px; 
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  font-family: sans-serif;
  color: #6D758F;
  position: relative;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

.label-inline {
  display: inline-block;
  width: calc(50% - 10px); /* Verdeling van de breedte */
  vertical-align: top;
  margin-right: 10px;
}

.label-inline:last-child {
  margin-right: 0;
}

label {
  display: block; /* Zorgt ervoor dat labels boven de invulvelden staan */
  margin-bottom: 8px; /* Ruimte tussen label en veld */
  font-weight: bold; /* Optioneel: maak het label vetgedrukt */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  box-sizing: border-box; /* Houd padding binnen de breedte */
}

textarea {
  resize: none;
}

.button {
  display: block;
  width: 130px;
  height: 44px;
  padding: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: #c0ac71;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.button:hover {
  background-color: #918256;
}
.phone {
  max-width: 275px;
}
.privacypolicy {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-left: 8px;
}

.privacypolicy:hover {
  text-decoration: underline;
}

/* Specifieke layout-aanpassing voor naam en e-mail */
.inline-group {
  display: flex;
  gap: 16px; /* Ruimte tussen de velden */
}

.inline-group .form-group {
  flex: 1; /* Beide velden krijgen evenveel ruimte */
}

.data-container table {
  max-width: 1200px;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: sans-serif;
}

.data-container table th,
.data-container table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.data-container table th {
  background-color: #f4f4f4;
}

h2 {
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
}

.name {
  max-width: 235px;
}

.email {
  max-width: 235px;
  padding-left: 50px;
}

.message {
  max-width: 505px;
  max-height: 100px;
}

.form-content {
  padding: 30px;
}

h1 {
  font-family: "Swanky and Moo Moo", serif;
  font-size: 40;
}

.header1 {
  max-width: 40vw;
  font-size: 34;
  text-align: center;
  margin: 40px;
}

.brownie {
  width: 500px;
  height: 375px;
  float: right; 
  margin-right: 300;
  margin-top: -200;
}

.back {
  z-index: -2;
  position: absolute;
  right: 100px;
}

.adress {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 22;
  max-width: 642px;
  padding: 25px;
  width: max-content;
  border: 1px solid black;
  line-height: 1.8;
  border-radius: 11px;
  margin: 100;
  z-index: 10; 
}

.route {
  border: 1px solid black;
  padding: 10px;
  max-width: 642px;
  width: 33%;
  font-family: 'Roboto', sans-serif;
  font-size: 25;
  border-radius: 11px;
  margin-right: 80;
  /* float: right; */
  /* position: relative; */
  z-index: 10;
}

.cookie {
  position: absolute;
  width: 850;
  height: 850;
  flex-shrink: 0;
  z-index: -1;
  top: 200;
  right: 350;
}

.maps {
  /* position: relative; */
  margin: 50px;
  border: 2px solid black;
  width: max-content;
  z-index: 10;
}

.mapsroutebox {
  display: flexbox;
  flex-direction: row;
  max-height: 300px;
}